<?xml version="1.0"?>
<robot name="sensor_sharp" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="sensor_sharp_gp2y0a21yk" params="name parent *origin">
    
    <link name="${name}_link">
      <visual>
        <geometry>
          <cylinder radius="0.009" length="0.025"/>
        </geometry>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <material name="black">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.009" length="0.025"/>
        </geometry>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
      </collision>
      <inertial>
        <mass value="0.005"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.000001" ixy="0.0" ixz="0.0"
                 iyy="0.000001" iyz="0.0"
                 izz="0.000001"/>
      </inertial>
    </link>

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

  </xacro:macro>
</robot>